# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Food Asteroids.iml
# Datasource local storage ignored files
/../../../../../../../../:\PUCPR\2021-1\ExpCria\Food Asteroids\.idea\.idea.Food Asteroids\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
